

$red: #F24B4B;
$white: #ffffff;
$black: #444444;
$yellow: #F8E962;
$cyan: #3CF3D2;

@mixin flexRulesColumn{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@mixin flexRulesRow{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.App {
  @include flexRulesColumn();
  align-items: center;
  text-align: center;
}


#navWrapper {
  @include flexRulesRow();
  background-color: #444444;
  top: 0;

  #logoWrapper {
    @include flexRulesColumn();
    align-items: center;
    width: 90%;

      h2 {
        cursor: pointer;
        font-size: 2rem;
        user-select: none;
      }

      h5 {
        position: relative;
        bottom: 3.5rem;
        font-size:large;
        font-family: cursive;
        font-style: italic;
        font-weight: 500;
        opacity: 0.8;
        user-select: none;
      }
  }
  
  div #navSubtext {
    color: $white;
  }

  #navLinks {
    @include flexRulesColumn();
    width: 10%;
    position:fixed;
    left: 95%;
    top: 1rem;
  }

  #navLinks .navLink {
    color: $red;
    text-decoration: none;
  }

  div .logoFirst {
    color: $white;
  }

  div .logoSecond {
    color: $red;
  }
}


#mainOne, #sectionTwo, #sectionThree {
  @include flexRulesRow();
  justify-content: space-around;
  background-color: $black;
  width: 57rem;
  margin-top: 5.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;

  #mainWrapper, #sectionTwoWrapper, #sectionThreeWrapper {
    @include flexRulesColumn();
  }

  .homeImage {
    width: 30rem;
    margin: 1.5rem 0rem;
    position: relative;
    left: 1rem;
    border: 0.2rem $red;
    border-radius: 1rem;
    border-style: inset;
    margin-right: 1rem;
    user-select: none;
  }

  .mainContent, .sectionContent {
    color: $white;
    width: 21rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
  }
  
  .mainTextChange {
    color: $red;
  }

  .sectionTwoTextChange {
    color: $yellow;
  }

  .sectionThreeTextChange {
    color: $cyan;
  }

  .homeButton {
    display: flex;
    align-self: center;
    width: 20rem;
    height: 1.7rem;
    background-color: $red;
    border: none;
    cursor: pointer;
    transition: border-radius 0.7s ease-in-out, width 0.5s ease-in-out, background-color 0.3s ease-in-out;
  }

  .homeButton:hover {
      background-color: $cyan;
      width: 15rem;
      border: 1px solid $red;
      border-style: groove;
      border-radius: 1rem;
  }
}

#sectionTwo {
  flex-direction:row-reverse;
}

#sectionThreeWrapper {
  padding-bottom: 1rem;
}

#recipePageTwoWrapper {
  @include flexRulesRow();
  background-color: $black;
}