$red: #F24B4B;
$white: #ffffff;
$lightwhite: #cccccc;
$black: #444444;
$lightblack: #363636;
$yellow: #F8E962;
$cyan: #3CF3D2;

@mixin flexRulesColumn{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@mixin flexRulesRow{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@mixin titleSet {
  font-size: 1.6rem;
  color: $white;
  border-bottom: $lightwhite solid 3px;
}

#recipePageTopWrapper {
  @include flexRulesRow();
  justify-content: space-between;
  padding: 1rem 2rem;

  #recipePageSorterWrapper {
    @include flexRulesRow();

    .recipePageSorterButton {
      border: none;
      background-color: white;
    }

    .active {
      color: $red;
    }
  }

  #recipePageCreateButton {
    border-radius: 2rem;
    height: 3.2rem;
    width: 8rem;
    border-color: $yellow;
    transition: border-color 0.5s ease-in-out, border-style 0.7s ease-in-out, background-color 0.5s ease-in-out, color 0.4s ease-in-out;
    font-style:oblique;
    font-size: 1rem;
    cursor: pointer;
  }

  #recipePageCreateButton:hover {
    color: white;
    border-color: $cyan;
    border-style: double;
    background-color: cornflowerblue;
    border-width: 0.4rem;
  }
}

#recipeCreationMainWrapper {
  @include flexRulesColumn();
  align-items: center;
  padding-bottom: 10rem;

  #recipeCreationForm {
    @include flexRulesColumn();
    align-items: center;
  }
}

.divider {
  height: 2rem;
  background-color: $lightwhite;
  margin: 2rem 0;
  width: 55rem;
}

#dishNameWrapper, #dishItemsWrapper {
  background-color: $black;
  width: 45rem;
}

#dishNameWrapper {
  @include flexRulesRow();
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  border-radius: 1.4rem;

  #dishNameTitle {
    @include titleSet();
    position:relative;
    bottom: 2rem;
  }

  #dishName {
    height: 3rem;
    width: 20rem;
    position: relative;
    bottom: 1rem;
    background-color: $lightblack;
    border-top: none;
    border-right: none;
    border-width: 2px;
    border-color: $black;
    font-size: 1.6rem;
    color: $lightwhite;
  }

  #dishNameButton {
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
    color: $red;
    background-color: $white;
    border: none;
  }
}

#dishItemsWrapper {
  @include flexRulesColumn();
  height: fit-content;
  padding-bottom: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1.5rem;

  #dishItemsSubWrapper {
    @include flexRulesRow();
    justify-content: space-between;

    #dishItemsTitle {
      @include titleSet();
    }
    
    #dishItemsCreateButton {
      width: 5rem;
      height: 5rem;
      border: none;
      font-size: 1.4rem;
      color: $cyan;
      margin-top: 1rem;
    }
  }

  .itemsWrapper{ 
    @include flexRulesRow();
    margin-top: 2rem;
  }

}

.itemGeneral {
  background-color: $lightblack;
  border-top: none;
  border-width: 2px;
  border-color: white;
  margin-right: 0.2rem;
  height: 2rem;
}

.right {
  border-right: none;
}

.left {
  border-left: none;
}

.itemQuantityWrapper {
  @include flexRulesRow();
}

.dishItemDeleteButton {
  width: 2rem;
  height: 2rem;
  background-color: $black;
  border: none;
  color: $red;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.dishItemDeleteButton:hover {
  background-color: $lightwhite;
}

#dishStepsWrapper {
  @include flexRulesColumn();
  background-color: $black;
  height: fit-content;
  padding-bottom: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1.5rem;

  #dishStepsSubWrapper {
    @include flexRulesRow();
    justify-content: space-between;

    #dishStepsTitle {
      @include titleSet();
    }

    #dishStepsCreateButton {
      width: 5rem;
      height: 5rem;
      border: none;
      font-size: 1.4rem;
      color: $cyan;
      margin: 1rem 0;
    }
  }
}

.stepsWrapper{
  @include flexRulesRow();
  align-items: center;

  .stepsNum {
    margin-right: 0.2rem;
    color: $white;
  }
  .stepName, .stepDesc {
    flex-wrap: wrap;
    border-top: none;
    background-color: $lightblack;
    border-color: $white;
    margin-right: 0.4rem;
    width: 20rem;
    resize: none;
  }
  
  .stepName {
    height: 2rem;
  }
  
  .stepDesc {
    min-height: 7rem;
  }
  
  .dishStepsDeleteButton {
    width: 2rem;
    height: 2rem;
    background-color: $black;
    border: none;
    color: $red;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .dishStepsDeleteButton:hover {
    background-color: $lightwhite;
  }
  
}

