$red: #F24B4B;
$white: #ffffff;
$black: #444444;
$yellow: #F8E962;
$cyan: #3CF3D2;

@mixin flexRulesColumn{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@mixin flexRulesRow{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#recipePageTopWrapper {
  @include flexRulesRow();
  justify-content: space-between;
  padding: 1rem 2rem;

  #recipePageSorterWrapper {
    @include flexRulesRow();

    .recipePageSorterButton {
      border: none;
      background-color: white;
    }

    .active {
      color: $red;
    }
  }

  #recipePageCreateButton {
    border-radius: 2rem;
    height: 3.2rem;
    width: 8rem;
    border-color: $yellow;
    transition: border-color 0.5s ease-in-out, border-style 0.7s ease-in-out, background-color 0.5s ease-in-out, color 0.4s ease-in-out;
  }

  #recipePageCreateButton:hover {
    color: white;
    border-color: $cyan;
    border-style: double;
    background-color: cornflowerblue;
    border-width: 0.4rem;
    // border-radius: -10rem;
  }

}